* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 80vw;
    padding: 2em 10vw 2em 10vw;
    background-color: rgb(238, 238, 238);;
}

h2 {
    margin-top: 5em;
}

.masonry {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    gap: 2em;
}

.masonry .card {
    display: flex;
    flex-direction: column;
    width: 18vw;
    /* height: auto; */
    flex: 0 1 auto;
    background-color: white;
    border-radius: 5px;
}

.flex .card {
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: auto;
    background-color: white;
    border-radius: 5px;
}

.card {
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.3);
}

section, footer {
    padding: 2em;
}

.flex section {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

footer {
    position: relative;
    min-width: 100%;
    left: 0;
    bottom: 0;
}

h2 {
    margin-bottom: 2em;
}