02.Introduction-to-HTML-and-CSS-Exercise-Resources/01.Introduction-to-HTML-and-CSS-More-Exercise-Resources/05_HTMLLists/reversed-list.css
02.Introduction-to-HTML-and-CSS-Exercise-Resources/01.Introduction-to-HTML-and-CSS-More-Exercise-Resources/05_HTMLLists/reversed-list.html
