body {
    padding: 5px 15px;
    background-color: #e4e978;
}

article {
    border: 1px solid #b2ad7d;
    padding: 5px 15px;
    margin: 15px 10px;
    background-color: #f2f4c0;
    
}

section article {
    color: #4c7658;
    font-style: italic;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.2em;
}

/* Used CSS in the example above: 
•	padding: 5px 15px;
•	font-style: italic
•	color: #5c6e91
•	background colors: #f2f4c0, #e4e978, #4c7658;
•	width: 700px
•	border: 
•	margin: 15px 10px; */
