body {
    background-color: rgb(238, 238, 238);
}

.page {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    max-width: 1050px;
    padding: 4rem;
}

.site-title {
    flex: 1 1 100%;
    border-bottom: 3px solid black;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: sans-serif;
    /* padding-bottom: 0.2em; */
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
    /* margin-top: 1em; */
    /* max-width: 60vw; */
}

article {
    text-align: justify;
}

.blockquote-article {
    display: flex;
    flex-direction: column;
}

.article-section {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
}

blockquote {
    display: inline-block;
    position: relative;
    font-style: italic;
    /* width: 30%; */
    top: 0;
    right: 0;
    margin-right: 0;
    padding-left: 3em;
    color: gray;
    border-left: 3px  solid rgb(161, 161, 161);
}

.image1 {
    float: right;    
    background-color: rgb(255, 255, 255);
    width: 150px;
    padding: 0.5em;
    border: 4px solid black;
    margin: 0 0 0.66em 1.5em;
}

.image2 {
    float: left;    
    background-color: rgb(255, 255, 255);
    width: 180px;
    padding: 0.5em;
    border: 4px solid black;
    margin: 0 0.7em 0.7em 0;
}

blockquote {
    font-family: Georgia, serif;
}

aside {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-left: 2em;
    padding-left: 2rem;
}

aside li {
    color: rgb(0, 153, 0);
}

h1, h2 {
    font-family: Georgia, serif;
}

@media screen and (width <= 500px) {
    p {
        font-size: 12px;
    }

    .site-title {
        font-size: 30px;
    }

    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 14px;
    }

    .article-section {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    article {
        display: flex;
        flex-direction: column;
    }

    .image1, .image2 {
        float: none;
    }

    /* .image1:after, .image2:after {
        content: '\A';
        white-space: pre;
    } */

    blockquote {
        margin-left: 0;
    }
}

@media screen and (width > 500px) {
    p {
        font-size: 14px;
    }

    .site-title {
        font-size: 33px;
    }

    h1 {
        font-size: 19px;
    }

    h2 {
        font-size: 17px;
    }

    @media screen and (width > 600px) {
        p {
            font-size: 16px;
        }
    
        .site-title {
            font-size: 36px;
        }
    
        h1 {
            font-size: 22px;
        }
    
        h2 {
            font-size: 20px;
        }

        @media screen and (width > 800px) {
            p {
                font-size: 18px;
            }
        
            .site-title {
                font-size: 38px;
            }
        
            h1 {
                font-size: 24px;
            }
        
            h2 {
                font-size: 22px;
            }

            @media screen and (width > 1300px) {
                p {
                    font-size: 21px;
                }
            
                .site-title {
                    font-size: 40px;
                }
            
                h1 {
                    font-size: 25px;
                }
            
                h2 {
                    font-size: 23px;
                }

                @media screen and (width > 1800px) {
                    p {
                        font-size: 23px;
                    }
                
                    .site-title {
                        font-size: 44px;
                    }
                
                    h1 {
                        font-size: 26px;
                    }
                
                    h2 {
                        font-size: 24px;
                    }
                }
            }
        }
    } 
}

