body {
    background-color: #eee;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

body>* {
    padding: 2rem;
    background-color: #fff;
    color: #000;
    border-radius: 0.4rem;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    text-transform: uppercase;
}

header {
    flex-basis: 100%;
    min-height: 45px;
}

footer {
    flex-basis: 100%;
    min-height: 17px;

}

main {
    flex: 8 1 40rem;
    align-self: stretch;
    min-height: 200px;
}

aside {
    flex: 2 1 20rem;
    align-self: stretch;
}