* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 20px Helvetica, sans-serif;
}

div {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    flex-direction: column;
    max-width: 15vw;
    height: 35rem;
    margin: 4em;
}

span {
    border: 1px solid black;
    width: 5.1rem;
    height: 3.4rem;
    padding-top: 1em;
    text-align: center;
}

#one {
    order: 9;
}

#three {
    order: 10;
}

#five {
    order: 8;
}

#six {
    order: 7;
}

#seven{
    order: 11;
}

#eight {
    order: 5;
}

#nine {
    order: 6;
}

#ten {
    order: 12;
}

#eleven {
    order: 1;
}

#twelve {
    order: 3;
}