/* TODO */
@media screen and (width <=600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #top-bar {
        width: 100%;
    }


    #newsletter {
        display: none;
    }
    
    #main-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
    }

    #main-menu img {
        align-content: center;
        padding: 0;
    }



    #main-menu ul {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        justify-content: center;
    }

    #main-menu ul li {
        border: 1.5px solid gray;
        margin-bottom: 4px;
        text-align: center;
    }

    main {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    #left-aside {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    #left-aside article {
        border-bottom: none;
    }

    #news {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }

    #news article {
        margin: 0 auto;
        padding: 1em 0;
        width: 90%;
    }

    #right-aside {
        display: flex;
        flex-direction: column;
        width: 93%;
        margin: 0 0 0 1em;
        justify-content: left;
        align-items: left;
    }

    #right-aside div {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;

        gap: 1.3em;
    }

    button {
        align-self: flex-start;
    }

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 2em;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}